.result_container {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  align-items: center;
  box-shadow: var(--medium-box-shadow);
  padding: var(--space-sm);
  gap: var(--space-xs);
  width: 30rem;
}
.result_option {
  text-align: center;
  width: 10rem;
  padding: var(--space-xxxs);
  border-radius: 0.5rem;
  background: rgb(207, 207, 207);
}
.selected_option_background {
  background: red;
}
.answer_background {
  background: green;
}
