.navigation {
  background-color: var(--hover-grey);
  box-shadow: var(--medium-box-shadow);
}
.nav_logo {
  color: var(--font-color);
}
.username_btn {
  font-size: 1rem;
  cursor: pointer;
}
.hamburger_menu {
  cursor: pointer;
  color: var(--font-color);
}
